.productCard {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Обов'язково для заокруглення країв фото та анімації */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

/* Зображення займає всю ширину без паддінгів */
.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3; 
  background-color: #f5f5f5;
  overflow: hidden;
}

.productImage {
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}

/* Ефект наближення фотографія при наведенні */
.productCard:hover .productImage {
  transform: scale(1.04); 
}

/* Нижня контентна частина із чистим паддінгом 7px */
.productContent {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex-grow: 1;
}

.productInfoTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.productInfoTop button { 
  flex-shrink: 0 !important;      /* 👈 Забороняє текстовому блоку стискати кнопку */
}

.productInfoTopWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.productTitle {
  font-size: 18px;
  font-weight: 800;
  color: #666;
  margin: 0;
  line-height: 1.3;
}

.productDescription {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #1a1a1a; 
  margin: 4px 0 2px 0;
  margin-bottom: 20px;
  /* Ефект автоматичного обрізання тексту двома рядками з трьома крапками */
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Кількість рядків, що відображаються (можна змінити на 1 або 3) */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.newPrice {
  font-size: 20px;
  font-weight: 800;
  color: var(--accent-color);
}

.oldPrice {
  font-size: 18px;
  color: #999999;
  text-decoration: line-through;
}

.addToCartBtn {
  margin-top: auto;
  width: 100%;
}

.imageWrapperLink {
  text-decoration: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

/* Прибираємо стандартне підкреслення лінка для назви товару */
.titleLink {
  text-decoration: none;
  color: inherit;
}

.titleLink:hover .productTitle {
  color: var(--accent-color); /* Назва товару буде підсвічуватись вашим фірмовим червоним при наведенні */
  transition: color 0.2s ease;
}

/* Оновлюємо тригер ефекту збільшення картинки (тепер відстежуємо hover на картку) */
.productCard:hover .productImage {
  transform: scale(1.04); 
}

