html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--font-playfair);
}

h1,
h2,
h3,
.hero-title,
.section-title {
  font-family: var(--font-geist);
}

:root {
  --accent-color: #E22D2D;
}


