.wrapper {
  width: 100%;
  background-color: #FFFFFF;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 24px;
  background-color: #fcfcf5;
}

.productLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

@media (max-width: 768px) {
  .productLayout {
    grid-template-columns: 1fr;
  }
}

